<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <img src="https://www.logolynx.com/images/logolynx/s_95/953ce881120d83e532d85638d1876e20.png" class="nav-brand" alt="Logo concession">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/types']">Types</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/marques']">Marques</a>
          </li>
        </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
