<div class="container">

  <div class="row justify-content-center">
      <div class="col-5">
          <div class="card">
            <img [src]="moto.image" class="card-img-top" [alt]="moto.image">
                <div class="card-body">
                    <h5 class="card-title"> {{moto.nom}} </h5>
                    <p class="card-text"> prix : {{moto.prix}} <br>
                    Type : {{moto.type}} <br>
                    Marque : {{moto.marque}}<br>
                    Cylindrée : {{moto.cylindree}} <br>
                    Année : {{moto.annee}}<br>
                    Kilomètrage : {{moto.kilometres}}<br>
                    
                    </p>
                    <button [routerLink]="['/']" class="btn btn-secondary mx-auto">Revenir en arrière</button>
                </div>
          </div>
      </div>
  </div>

  
</div>
