<div class="container d-flex mt-3">
    
          <div class="row mx-auto">
              <div class="col-3"><button (click)="getMotosType('roadster')" class="btn btn-primary">Roadster</button></div>
              <div class="col-3"><button (click)="getMotosType('custom')" class="btn btn-primary">Custom</button></div>
              <div class="col-3"><button (click)="getMotosType('sportive')" class="btn btn-primary">Sportive</button></div>
              <div class="col-3"><button (click)="getMotosType('enduro')" class="btn btn-primary">Enduro</button></div>
          </div>

</div>

<div *ngIf="display == 'true'" class="container">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Photo</th>
          <th scope="col">Marque</th>
          <th scope="col">Type</th>
          <th scope="col">Prix</th>
          <th scope="col">Cylindrée</th>
          <th scope="col">Vente Flash</th>
          <th scope="col">Année</th>
          <th scope="col">Kilomètres</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moto of motoTable">
  
          <th scope="row">{{moto.nom}}</th>
          <td class="td-image"><img style="max-height: 75px; max-width: 75px; z-index: 20; opacity: 1;"
              src="{{moto.image}}" alt="Portrait de la moto"></td>
          <td>{{moto.marque}}</td>
          <td>{{moto.type}}</td>
          <td>{{moto.prix}}</td>
          <td>{{moto.cylindree}}</td>
  
          <td>
            <p *ngIf="moto.venteFlash==true">Oui</p>
            <p *ngIf="moto.venteFlash==false">Non</p>
          </td>
  
          <td>{{moto.annee}}</td>
          <td>{{moto.kilometres}}</td>
          <td>
            <div class="d-flex flex-column">
              <button [routerLink]="['/'+moto.id]" class="btn btn-success" style="z-index: 20; opacity: 1;">En
                détail</button>
            </div>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-6 mt-4">
        <button type="button" class="btn btn-warning" [routerLink]="['/']">Retour à la page d'accueil</button>
      </div>
    </div>
</div>
