/* You can add global styles to this file, and also import other style files */
body{
    background-color: #353535;
}

.card img{
    height: 200px;
    object-fit: cover;
}

.nav-brand{
    height: 80px;
}